/* google font */
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Raleway:wght@400;500&display=swap');


@import "tailwindcss";
@plugin "daisyui";
/* 
@theme {
    --font-Cinzel: "Cinzel", serif;
    
  } */
  body {
    font-family: 'Raleway', sans-serif; /* Normal text */
  }
  
  h1, h2, h3, .cinzel {
    font-family: 'Cinzel', serif; /* Decorative headings */
  }


/* Center thumbnails */
.centered-thumbs .thumbs-wrapper {
    display: flex;
    justify-content: center;
  }
  
  /* Optional: Improve thumbnail appearance */
  .centered-thumbs .thumb {
    border: 2px solid transparent;
    transition: all 0.3s ease;
    margin: 0 4px;
  }
  
  .centered-thumbs .thumb.selected, 
  .centered-thumbs .thumb:hover {
    border-color: #3b82f6; /* Blue border for selected/hover */
  }